
<div id="character-builder-navigation" *ngIf="character$ | async as character;">
    <a routerLink="/character-builder/name-selector" routerLinkActive="active">Basics</a>
    <a routerLink="/character-builder/race-selector" routerLinkActive="active">Race</a>
    <a routerLink="/character-builder/attributes" routerLinkActive="active">Attributes</a>
    <a routerLink="/character-builder/zodiac-sign" routerLinkActive="active">Zodiac Sign</a>
    <a routerLink="/character-builder/perks" routerLinkActive="active">
        <span class="material-icons-outlined cp-warning" *ngIf="character.getUnfulfilledPerkRequirements().length > 0" [matTooltip]="'Some perks are missing requirements.'">warning</span>
        <span class="material-icons-outlined cp-warning" *ngIf="character.getRemainingCP() < 0" [matTooltip]="'Spent more CP than available.'">warning</span>
        Perks
    </a>
    <a routerLink="/character-builder/background" routerLinkActive="active">Background</a>
    <a routerLink="/character-builder/culture" routerLinkActive="active">Culture</a>
    <a routerLink="/character-builder/languages" routerLinkActive="active">
        <span class="material-icons-outlined cp-warning" *ngIf="character.getRemainingCP() < 0" [matTooltip]="'Spent more CP than available.'">warning</span>
        Languages
    </a>
    <a routerLink="/character-builder/equipment" routerLinkActive="active">Equipment</a>

    <a routerLink="/character-builder/overview" routerLinkActive="active">Overview</a>
</div>

