#character-builder-navigation {
    display: flex;
    height: 50px;
    align-items: center;

    background: #df8c42;
}

a {
    display: block;
    flex: 1;
    text-decoration: none;
    text-align: center;
    border-right: 1px solid grey;
}

a.active {
    font-weight: bold;
}

.cp-warning {
    color: #6c2a2a;
    margin-right: 8px;
    vertical-align: bottom;
}
