<character-builder-navigation></character-builder-navigation>
<quick-overview-bar></quick-overview-bar>

<div class="attributes-builder padded" *ngIf="character$ | async as character;">
    <div class="title-column">
        <h2>Description</h2>
        <p class="stat"
           [matTooltip]="_STRENGTH_TEXT">
            Strengh:
        </p>
        <p class="stat"
           [matTooltip]="_VITALITY_TEXT">
            Vitaly:
        </p>
        <p class="stat"
           [matTooltip]="_DEXTERITY_TEXT">
            Dexterity:
        </p>
        <p class="stat"
           [matTooltip]="_AGILITY_TEXT">
            Agility:
        </p>
        <p class="stat"
           [matTooltip]="_INTELLECT_TEXT">
            Intellect:
        </p>
        <p class="stat"
           [matTooltip]="_PERCEPTION_TEXT">
            Perception:
        </p>
        <p class="stat"
           [matTooltip]="_EMPATHY_TEXT">
            Empathy:
        </p>
    </div>

    <div class="stat-columns">
        <div cdkDropList class="statlist" (cdkDropListDropped)="drop($event)">
            <div>
                <h2>Base Stats </h2>
                <span class="material-icons-outlined" [matTooltip]="'Drag the boxes to reorder them'">help_outline</span>
            </div>
            <div class="stat boxed-stat stat-strength" cdkDrag>{{stats.strength}}</div>
            <div class="stat boxed-stat stat-vitality" cdkDrag>{{stats.vitality}}</div>
            <div class="stat boxed-stat stat-dexterity" cdkDrag>{{stats.dexterity}}</div>
            <div class="stat boxed-stat stat-agility" cdkDrag>{{stats.agility}}</div>
            <div class="stat boxed-stat stat-intellect" cdkDrag>{{stats.intellect}}</div>
            <div class="stat boxed-stat stat-perception" cdkDrag>{{stats.perception}}</div>
            <div class="stat boxed-stat stat-empathy" cdkDrag>{{stats.empathy}}</div>
        </div>

        <div class="fixed-column">
            <h2>&nbsp;</h2>
            <p class="stat">+</p>
            <p class="stat">+</p>
            <p class="stat">+</p>
            <p class="stat">+</p>
            <p class="stat">+</p>
            <p class="stat">+</p>
            <p class="stat">+</p>
        </div>

        <div class="statlist" *ngIf="character.getRace() as race;">
            <h2>Race Bonis</h2>
            <div class="stat boxed-stat stat-strength">{{race?.statboni?.strength}}</div>
            <div class="stat boxed-stat stat-vitality">{{race?.statboni?.vitality}}</div>
            <div class="stat boxed-stat stat-dexterity">{{race?.statboni?.dexterity}}</div>
            <div class="stat boxed-stat stat-agility">{{race?.statboni?.agility}}</div>
            <div class="stat boxed-stat stat-intellect">{{race?.statboni?.intellect}}</div>
            <div class="stat boxed-stat stat-perception">{{race?.statboni?.perception}}</div>
            <div class="stat boxed-stat stat-empathy">{{race?.statboni?.empathy}}</div>
        </div>

        <div class="fixed-column">
            <h2>&nbsp;</h2>
            <p class="stat">=</p>
            <p class="stat">=</p>
            <p class="stat">=</p>
            <p class="stat">=</p>
            <p class="stat">=</p>
            <p class="stat">=</p>
            <p class="stat">=</p>
        </div>

        <div class="statlist">
            <h2>Final Stats</h2>
            <div class="stat boxed-stat stat-strength">{{character.getFinalCharacter().stats.strength}}</div>
            <div class="stat boxed-stat stat-vitality">{{character.getFinalCharacter().stats.vitality}}</div>
            <div class="stat boxed-stat stat-dexterity">{{character.getFinalCharacter().stats.dexterity}}</div>
            <div class="stat boxed-stat stat-agility">{{character.getFinalCharacter().stats.agility}}</div>
            <div class="stat boxed-stat stat-intellect">{{character.getFinalCharacter().stats.intellect}}</div>
            <div class="stat boxed-stat stat-perception">{{character.getFinalCharacter().stats.perception}}</div>
            <div class="stat boxed-stat stat-empathy">{{character.getFinalCharacter().stats.empathy}}</div>
        </div>

        <ng-container *ngFor="let conditionalStat of character.getRace()?.conditionalStatbonis">
            <div class="fixed-column">
                <h2>&nbsp;</h2>
                <p class="stat">=</p>
                <p class="stat">=</p>
                <p class="stat">=</p>
                <p class="stat">=</p>
                <p class="stat">=</p>
                <p class="stat">=</p>
                <p class="stat">=</p>
            </div>

            <div class="statlist" [attr.data-tippy-content]="conditionalStatsWarning">
                <h2>{{ conditionalStat.condition }}</h2>
                <div [class.bold]="conditionalStat.statboni.strength !== 0" class="stat boxed-stat stat-strength">
                    {{character.getFinalCharacter().stats.strength + conditionalStat.statboni.strength}}
                    {{conditionalStat.statboni.strength !== 0 ? '*' : '' }}
                </div>
                <div [class.bold]="conditionalStat.statboni.vitality !== 0" class="stat boxed-stat stat-vitality">
                    {{character.getFinalCharacter().stats.vitality + conditionalStat.statboni.vitality}}
                    {{conditionalStat.statboni.vitality !== 0 ? '*' : '' }}
                </div>
                <div [class.bold]="conditionalStat.statboni.dexterity !== 0" class="stat boxed-stat stat-dexterity">
                    {{character.getFinalCharacter().stats.dexterity + conditionalStat.statboni.dexterity}}
                    {{conditionalStat.statboni.dexterity !== 0 ? '*' : '' }}
                </div>
                <div [class.bold]="conditionalStat.statboni.agility !== 0" class="stat boxed-stat stat-agility">
                    {{character.getFinalCharacter().stats.agility + conditionalStat.statboni.agility}}
                    {{conditionalStat.statboni.agility !== 0 ? '*' : '' }}
                </div>
                <div [class.bold]="conditionalStat.statboni.intellect !== 0" class="stat boxed-stat stat-intellect">
                    {{character.getFinalCharacter().stats.intellect + conditionalStat.statboni.intellect}}
                    {{conditionalStat.statboni.intellect !== 0 ? '*' : '' }}
                </div>
                <div [class.bold]="conditionalStat.statboni.perception !== 0" class="stat boxed-stat stat-perception">
                    {{character.getFinalCharacter().stats.perception + conditionalStat.statboni.perception}}
                    {{conditionalStat.statboni.perception !== 0 ? '*' : '' }}
                </div>
                <div [class.bold]="conditionalStat.statboni.empathy !== 0" class="stat boxed-stat stat-empathy">
                    {{character.getFinalCharacter().stats.empathy + conditionalStat.statboni.empathy}}
                    {{conditionalStat.statboni.empathy !== 0 ? '*' : '' }}
                </div>
            </div>
        </ng-container>
    </div>


</div>

