<character-builder-navigation></character-builder-navigation>
<quick-overview-bar></quick-overview-bar>

<div class="attributes-builder" *ngIf="character$ | async as character;">
    <div class="title-column">
        <h2>Description</h2>
        <p class="stat"
           [matTooltip]="'Strength (ST) describes a character’s muscle strength. It’s an important ability for melee combat, and determines carrying capacity'">
            Strengh:
        </p>
        <p class="stat"
           [matTooltip]="'Vitality (VI) is a character’s bodily defensive ability. It determines how a character is able to withstand extreme weather conditions, sickness or poison.'">
            Vitaly:
        </p>
        <p class="stat"
           [matTooltip]="'Dexterity (DE) describes a character’s hand-eye-coordination. It’s important with fine tasks like crafting or disabling traps, picking pockets and locks or tying knots. It also helps with ranged or melee combat, depending on the attacker’s weapon.'">Dexterity:
        </p>
        <p class="stat"
           [matTooltip]="'is a character’s ability to act when necessary, and also describes how a character is able to move around. It’s important for climbing, swimming, running, sneaking, gymnastics and tumbling in general'">
            Agility:
        </p>
        <p class="stat"
           [matTooltip]="'Intellect (IN) describes a character’s overall rational ability, his memory and his ability to acquire knowledge. It can also be used to describe a character’s overall knowledge about a specific topic or lore. It’s also important for magic users'">
            Intellect:
        </p>
        <p class="stat"
           [matTooltip]="'Perception (PE) is a character’s ability to realize his surroundings. It’s important for battle, but also necessary to survive while exploring dangerous environments. It’s also important for social encounters'">
            Perception:
        </p>
        <p class="stat"
           [matTooltip]="'Empathy (EM) describes a character’s ability to understand others. It’s important for most social encounters, and determines how easy it is for a character to haggle prices, to talk himselfout of a battle or seduce a barmaid.'">
            Empathy:
        </p>
    </div>


    <div cdkDropList class="statlist" (cdkDropListDropped)="drop($event)">
        <div>
            <h2>Base Stats </h2>
            <span class="material-icons-outlined" [matTooltip]="'Drag the boxes to reorder them'">help_outline</span>
        </div>
        <div class="stat boxed-stat stat-strength" cdkDrag>{{stats.strength}}</div>
        <div class="stat boxed-stat stat-vitality" cdkDrag>{{stats.vitality}}</div>
        <div class="stat boxed-stat stat-dexterity" cdkDrag>{{stats.dexterity}}</div>
        <div class="stat boxed-stat stat-agility" cdkDrag>{{stats.agility}}</div>
        <div class="stat boxed-stat stat-intellect" cdkDrag>{{stats.intellect}}</div>
        <div class="stat boxed-stat stat-perception" cdkDrag>{{stats.perception}}</div>
        <div class="stat boxed-stat stat-empathy" cdkDrag>{{stats.empathy}}</div>
    </div>

    <div class="fixed-column">
        <h2>&nbsp;</h2>
        <p class="stat">+</p>
        <p class="stat">+</p>
        <p class="stat">+</p>
        <p class="stat">+</p>
        <p class="stat">+</p>
        <p class="stat">+</p>
        <p class="stat">+</p>
    </div>

    <div class="statlist">
        <h2>Race Bonis</h2>
        <div class="stat boxed-stat stat-strength">{{character.race?.statboni?.strength}}</div>
        <div class="stat boxed-stat stat-vitality">{{character.race?.statboni?.vitality}}</div>
        <div class="stat boxed-stat stat-dexterity">{{character.race?.statboni?.dexterity}}</div>
        <div class="stat boxed-stat stat-agility">{{character.race?.statboni?.agility}}</div>
        <div class="stat boxed-stat stat-intellect">{{character.race?.statboni?.intellect}}</div>
        <div class="stat boxed-stat stat-perception">{{character.race?.statboni?.perception}}</div>
        <div class="stat boxed-stat stat-empathy">{{character.race?.statboni?.empathy}}</div>
    </div>

    <div class="fixed-column">
        <h2>&nbsp;</h2>
        <p class="stat">=</p>
        <p class="stat">=</p>
        <p class="stat">=</p>
        <p class="stat">=</p>
        <p class="stat">=</p>
        <p class="stat">=</p>
        <p class="stat">=</p>
    </div>

    <div class="statlist">
        <h2>Final Stats</h2>
        <div class="stat boxed-stat stat-strength">{{character.getFinalStats().strength}}</div>
        <div class="stat boxed-stat stat-vitality">{{character.getFinalStats().vitality}}</div>
        <div class="stat boxed-stat stat-dexterity">{{character.getFinalStats().dexterity}}</div>
        <div class="stat boxed-stat stat-agility">{{character.getFinalStats().agility}}</div>
        <div class="stat boxed-stat stat-intellect">{{character.getFinalStats().intellect}}</div>
        <div class="stat boxed-stat stat-perception">{{character.getFinalStats().perception}}</div>
        <div class="stat boxed-stat stat-empathy">{{character.getFinalStats().empathy}}</div>
    </div>
</div>

