<character-builder-navigation></character-builder-navigation>
<quick-overview-bar></quick-overview-bar>

<div class="background-list padded" *ngIf="character$ | async as character;">

    <h2>Backgrounds:</h2><br />

    Every character falls under one of these backgrounds. It represents their upbringing, standing in
    society, as well their story up until they started to work as an adventurer.
    While creating a character, you may combine elements of backgrounds, or talk with your GM and
    create a background yourself.
    <br/>
    <br/>
    <br/>

    <div class="background-row" *ngFor="let background of availableBackgrounds; index as i">

        <div class="select-box" (click)="changeBackground(background)">
            <span class="material-icons-outlined" *ngIf="background.name === character.getBackground()?.name">check_circle_outline</span>
            <span class="material-icons-outlined" *ngIf="background.name !== character.getBackground()?.name">circle_outline</span>
        </div>

        <mat-expansion-panel class="background-expandable">
            <mat-expansion-panel-header>{{ background.name }}</mat-expansion-panel-header>
            TBA
        </mat-expansion-panel>
    </div>

</div>

