<character-builder-navigation></character-builder-navigation>
<quick-overview-bar></quick-overview-bar>

<div class="zodiacsign-list padded" *ngIf="character$ | async as character;">

    <h2>Zodiac Signs:</h2><br />
    There’s 10 Zodiac Signs for the Kusaen Planet, changing every 39 days. During the Week of
    Darkness, there are no stars visible in the sky above, meaning that those born in this time carry
    the ”Fateless” Zodiac sign. Each of these acts as a special, active perk that can be chosen at the
    beginning of the game. After using this Perk, a character has to wait 24 hours before being able
    to use it again.
    <br/>
    <br/>
    <br/>

    <div class="zodiacsign-row" *ngFor="let zodiacSign of availableZodiacSigns; index as i">

        <div class="select-box" (click)="changeZodiacSign(zodiacSign)">
            <span class="material-icons-outlined" *ngIf="zodiacSign.name === character.zodiacSign?.name">check_circle_outline</span>
            <span class="material-icons-outlined" *ngIf="zodiacSign.name !== character.zodiacSign?.name">circle_outline</span>
        </div>

        <mat-expansion-panel class="zodiacsign-expandable">
            <mat-expansion-panel-header>{{ zodiacSign.name }}</mat-expansion-panel-header>
            <b class="zodiacsign-description">{{ zodiacSign.startDate }} - {{ zodiacSign.endDate }}</b>
            <blockquote class="zodiacsign-description" [innerHTML]="zodiacSign.description"></blockquote>
        </mat-expansion-panel>
    </div>

</div>

