<character-builder-navigation></character-builder-navigation>
<quick-overview-bar></quick-overview-bar>


<div class="perks-builder padded" *ngIf="character$ | async as character;">

    <div class="perk-category-selector">
        <div>
            <span *ngIf="character.getUnfulfilledPerkRequirements('BASE').length > 0">
                <i data-feather="alert-triangle" data-tippy-content="Some perks are missing requirements.">warning</i>
            </span>
            <a routerLink="/character-builder/perks" routerLinkActive="active">Base Perks</a>
        </div>
        <div>
            <span *ngIf="character.getUnfulfilledPerkRequirements('MARTIAL').length > 0">
                <i data-feather="alert-triangle" data-tippy-content="Some perks are missing requirements.">warning_outline</i>
            </span>
            <a routerLink="/character-builder/martial-perks" routerLinkActive="active">Martial Perks</a>
        </div>
        <div>
            <span *ngIf="character.getUnfulfilledPerkRequirements('ODEM').length > 0">
                <i data-feather="alert-triangle" data-tippy-content="Some perks are missing requirements.">warning</i>
            </span>
            <a routerLink="/character-builder/odem-perks" routerLinkActive="active">Odem Perks</a>
        </div>
        <div>
            <span *ngIf="character.getUnfulfilledPerkRequirements('MANEUVERS').length > 0">
                <i data-feather="alert-triangle" data-tippy-content="Some perks are missing requirements.">warning</i>
            </span>
            <a routerLink="/character-builder/maneuvers" routerLinkActive="active">Maneuvers</a>
        </div>
        <div>
            <span *ngIf="character.getUnfulfilledPerkRequirements('MAGIC').length > 0">
                <i data-feather="alert-triangle" data-tippy-content="Some perks are missing requirements.">warning</i>
            </span>
            <a routerLink="/character-builder/magical-perks" routerLinkActive="active">Magic Perks</a>
        </div>
        <div>
            <span *ngIf="character.getUnfulfilledPerkRequirements('DIVINE').length > 0">
                <i data-feather="alert-triangle" data-tippy-content="Some perks are missing requirements.">warning</i>
            </span>
            <a routerLink="/character-builder/divine-perks" routerLinkActive="active">Divine Perks</a>
        </div>
        <div>
            <span *ngIf="character.getUnfulfilledPerkRequirements('SKILL').length > 0">
                <i data-feather="alert-triangle" data-tippy-content="Some perks are missing requirements.">warning</i>
            </span>
            <a routerLink="/character-builder/skill-perks" routerLinkActive="active">Skill Perks</a>
        </div>
    </div>

    <div class="perks-resources">
        Your character has <b>{{ openCharacterPoints }} / {{ totalCharacterPoints }}</b> CP still available.
    </div>

    <div>
        <span class="searchbar"> Search: <input type="text" (input)="search($event)"></span>
        Hide unaffordable <input type="checkbox" [(ngModel)]="hideTooExpensive" />
    </div>


    <h2>Owned Perks</h2>
    <div class="perk-row" *ngFor="let pal of filtered(ownedPerks, false); trackBy:perkByName">

        <div class="select-box" (click)="deselectPerk(pal)">
            <span class="material-icons-outlined">check_circle_outline</span>
        </div>

        <mat-expansion-panel class="perk-expandable">
            <mat-expansion-panel-header>{{ pal.perk.name }} {{ pal.romanize() }} ({{ pal.perk.getCpCostForLevel(pal.level, character.perks) }}CP)</mat-expansion-panel-header>
            <b class="perk-description">Cost: {{ pal.perk.getCpCostForLevel(pal.level, character.perks) }}CP</b><br />
            <b class="perk-description">
                Requirements: <span *ngFor="let req of pal.perk.requirements">{{ req.toCustomString(pal.level) }}</span>
            </b><br />
            <!-- TODO: Add tooltips for perk description -->
            <b class="perk-description">Tags: {{ pal.perk.tags }}</b><br />

            <blockquote class="perk-description" [innerHTML]="pal.perk.description"></blockquote>
        </mat-expansion-panel>
    </div>



    <h2>Available Perks</h2>
    <div class="available-perks">
        <div class="perk-row" *ngFor="let pal of filtered(availablePerks, hideTooExpensive); trackBy:perkByName">

            <div class="select-box" (click)="selectPerk(pal)">
                <span class="material-icons-outlined">circle_outline</span>
            </div>

            <mat-expansion-panel class="perk-expandable">
                <mat-expansion-panel-header>{{ pal.perk.name }} {{ pal.romanize() }} ({{ pal.perk.getCpCostForLevel(pal.level, character.perks) }}CP)</mat-expansion-panel-header>
                <b class="perk-description">Cost: {{ pal.perk.getCpCostForLevel(pal.level, character.perks) }}CP</b><br />
                <b class="perk-description">
                    Requirements: <span *ngFor="let req of pal.perk.requirements">{{ req.toCustomString(pal.level) }}</span>
                </b><br />
                <b class="perk-description">Tags: {{ pal.perk.tags }}</b><br />

                <blockquote class="perk-description" [innerHTML]="pal.perk.description"></blockquote>
            </mat-expansion-panel>
        </div>
    </div>

</div>
