<div id="content" *ngIf="character$ | async as character;">
    <header>
        <h1>RLP Online</h1>
        <h3>Release 37</h3>
        <div class="nav-circles">
            <div class="circled-outline">
                <span class="new-character" (click)="createNewChar()" [matTooltip]="'Create new character'">
                    <i data-feather="user-plus"></i>
                </span>
            </div>
            <div class="circled-outline">
                <input #fileInput id="fileInput" type="file" (change)="uploadFile($event)" style="display: none" />
                <span (click)="fileInput.click()" [matTooltip]="'Upload saved character'">
                    <i data-feather="upload"></i>
                </span>
            </div>
            <div class="circled-outline">
                <a [href]="downloadJsonHref" [matTooltip]="'Save current character as file'" download="{{character.name}}">
                    <i data-feather="download"></i>
                </a>
            </div>
            <div class="circled-outline" (click)="toggleDarkmode()">
                <span [matTooltip]="'Toggle darkmode'" *ngIf="!this.isDarkMode" >
                    <i data-feather="sun"></i>
                </span>

                <span [matTooltip]="'Toggle darkmode'" *ngIf="this.isDarkMode">
                    <i data-feather="moon"></i>
                </span>
            </div>
        </div>

        <div class="character-selection">
            <div *ngFor="let char of availableCharacters | async; index as i" class="char">
                <span class="char-link" [class.current]="char.id == character.id" (click)="loadChar(char.id)"> {{ char.name }}</span>
                <span class="material-icons-outlined" (click)="deleteCharacter(char)" [matTooltip]="'Delete ' + char.name">delete</span>
            </div>
        </div>
    </header>
    <div id="main" *ngIf="character$ | async as character;">
        <div id="main-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
