:host {
    height: 100%;
    display: block;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;

    header {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 80px;
        background: #171717;
        color: #EFEFEF;

        h1 {
            margin: 10px 50px;
        }
    }

    #main {
        display: flex;
        background: #F4A460FF;
        flex: 1;

        nav {
            padding: 20px;
            background: grey;
            min-width: 100px;
            flex: 1;
            font-size: 1.2em;
        }

        .material-icons-outlined {
            cursor: pointer;

        }

        #main-content {
            min-width: 600px;
            flex: 6;
        }
    }
}

.new-character {
    margin: 20px 20px 20px 0;
    cursor: pointer;
}

.char {
    margin: 4px 20px;
    display: flex;

    .char-link {
        margin-right: 20px;
    }

    .char-link.current {
        text-decoration: underline;
    }
}

