#race-list {
    padding: 40px;
}

.race-expandable {
    margin-bottom: 5px;
    flex: 1;
}

.race-row {
    display: flex;
    align-content: center;

    .select-box {
        width: 40px;
        margin: 12px 0;
        cursor: pointer;
    }
}
