<character-builder-navigation></character-builder-navigation>
<quick-overview-bar></quick-overview-bar>

<div id="name-selector">
    <p>Input name</p>
    <input [(ngModel)]="name" (ngModelChange)="change()" />

    <p>Input Combat XP</p>
    <input type="number" [(ngModel)]="combatXP" (ngModelChange)="change()" />

    <p>Input Adventuring XP</p>
    <input type="number" [(ngModel)]="adventuringXP" (ngModelChange)="change()" />

    <p>Input Social XP</p>
    <input type="number" [(ngModel)]="socialXP" (ngModelChange)="change()" />
</div>
