.basic-input-block {
    span {
        margin-bottom: 3px;
    }
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.main-row {
    display: flex;
}

.level-table-image {
    margin-left: 50px;
    width: 300px;
}

.column-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

input {
    padding: 10px 0 10px 15px;
}
