<character-builder-navigation></character-builder-navigation>
<quick-overview-bar></quick-overview-bar>

<div id="name-selector">
    <div class="basic-input-block">
        <span>Input name</span>
        <input [(ngModel)]="name" (ngModelChange)="change()" />
    </div>

    <div class="basic-input-block">
        <span>Input Combat XP</span>
        <input type="number" [(ngModel)]="combatXP" (ngModelChange)="change()" />
    </div>

    <div class="basic-input-block">
        <span>Input Adventuring XP</span>
        <input type="number" [(ngModel)]="adventuringXP" (ngModelChange)="change()" />
    </div>

    <div class="basic-input-block">
        <span>Input Social XP</span>
        <input type="number" [(ngModel)]="socialXP" (ngModelChange)="change()" />
    </div>
</div>
