<character-builder-navigation></character-builder-navigation>


<div id="charactersheet" *ngIf="character$ | async as character;">

    <div class="title">
        <h1>
            <span [matTooltipPosition]="'above'" [matTooltip]="'Name'">{{ character.name }}</span>,
            <span [matTooltipPosition]="'above'" [matTooltip]="'Race'"> the {{ character.race?.name ?? 'raceless' }}</span>
            <span [matTooltipPosition]="'above'" [matTooltip]="'Background'"> {{ character.background?.name ?? 'adventurer without a job' }}</span>
        </h1>

        <a class="material-icons-outlined" [href]="downloadJsonHref" download="{{character.name}}">save</a>
    </div>


    <div class="main">
        <div class="attributes">
            <span class="attribute-title" [matTooltip]="_STRENGTH_TEXT">Strength (ST)</span>
            <span class="attribute-value">{{ character.getFinalStats().strength }}</span>
            <span class="attribute-title" [matTooltip]="_VITALITY_TEXT">Vitality (VI)</span>
            <span class="attribute-value">{{ character.getFinalStats().vitality }}</span>
            <span class="attribute-title" [matTooltip]="_DEXTERITY_TEXT">Dexterity (DE)</span>
            <span class="attribute-value">{{ character.getFinalStats().dexterity }}</span>
            <span class="attribute-title" [matTooltip]="_AGILITY_TEXT">Agility (AG)</span>
            <span class="attribute-value">{{ character.getFinalStats().agility }}</span>
            <span class="attribute-title" [matTooltip]="_INTELLECT_TEXT">Intellect (IN)</span>
            <span class="attribute-value">{{ character.getFinalStats().intellect }}</span>
            <span class="attribute-title" [matTooltip]="_PERCEPTION_TEXT">Perception (PE)</span>
            <span class="attribute-value">{{ character.getFinalStats().perception }}</span>
            <span class="attribute-title" [matTooltip]="_EMPATHY_TEXT">Empathy (EM)</span>
            <span class="attribute-value">{{ character.getFinalStats().empathy }}</span>

        </div>
        <div class="main-right">
            <div class="combatstats">
                <span class="border-overlapping-title">Combatstats</span>
                <div class="row">
                    <div class="combatstat-block">
                        <div class="combatstat-title" [matTooltip]="_HEALTH_TEXT">Health</div>
                        <div>{{ character.getFinalCombatStats().maxHealth }}</div>
                    </div>
                    <div class="combatstat-block">
                        <div class="combatstat-title" [matTooltip]="_STAMINA_TEXT">Stamina</div>
                        <div>{{ character.getFinalCombatStats().maxStamina }}</div>
                    </div>
                    <div class="combatstat-block">
                        <div class="combatstat-title" [matTooltip]="_MANA_TEXT">Mana</div>
                        <div>{{ character.getFinalCombatStats().maxMana }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="combatstat-block">
                        <div class="combatstat-title" [matTooltip]="_DODGE_TEXT">Dodge</div>
                        <div>{{ character.getFinalCombatStats().dodgeModifier.toExactString() }}</div>
                    </div>
                    <div class="combatstat-block">
                        <div class="combatstat-title" [matTooltip]="_NOTICE_TEXT">Notice</div>
                        <div>{{ character.getFinalCombatStats().noticeModifier.toExactString() }}</div>
                    </div>
                    <div class="combatstat-block">
                        <div class="combatstat-title" [matTooltip]="_WILLPOWER_TEXT">Willpower</div>
                        <div>{{ character.getFinalCombatStats().willpowerModifier.toExactString() }}</div>
                    </div>
                </div>
            </div>
            <div class="recovering-values">
                <span class="border-overlapping-title">Recovering</span>
                <div class="row">
                    <div class="combatstat-block">
                        <div class="combatstat-title" [matTooltip]="_HEALTH_RECOVER_TEXT">Health recovery</div>
                        <div>{{ character.getHealthRecovery() }} per hour</div>
                    </div>
                    <div class="combatstat-block">
                        <div class="combatstat-title" [matTooltip]="_STAMINA_RECOVER_TEXT">Stamina recovery</div>
                        <div>{{ character.getStaminaRecovery() }} per 2 seconds</div>
                        <div>{{ character.getStaminaRecovery() }} per AP spent resting</div>
                    </div>
                    <div class="combatstat-block">
                        <div class="combatstat-title" [matTooltip]="_MANA_RECOVER_TEXT">Mana recovery</div>
                        <div>{{ character.getManaRecovery() }} per hour if food consumed</div>
                    </div>
                </div>
            </div>
            <div class="race-benefits">
                <span class="border-overlapping-title">Race</span>
                <div class="race-row" *ngFor="let raceTrait of character.race?.traitsAsStrings; index as i">
                    {{ raceTrait }}
                </div>
            </div>
            <div class="zodiacsign-benefits" *ngIf="character.zodiacSign?.description">
                <span class="border-overlapping-title">Zodiac Sign</span>
                    <span [innerHTML]="character.zodiacSign?.description"></span>
            </div>
            <div class="background-benefits" *ngIf="character.background">
                <span class="border-overlapping-title">Background</span>

            </div>
            <div class="perks">
                <span class="border-overlapping-title">Perks</span>
                <div *ngFor="let pal of character.perks">
                    <span class="overview-perk-line">{{ pal.perk.name }} ({{pal.level}})</span> - {{ pal.perk.description }}
                </div>
            </div>
            <div class="equipment" *ngIf="character.equipment">
                <span class="border-overlapping-title">Equipment</span>
            </div>

            <div class="languages" *ngIf="character.languagesInLearnOrder">
                <span class="border-overlapping-title">Languages</span>
            </div>

        </div>
    </div>


</div>
