<character-builder-navigation></character-builder-navigation>


<div class="charactersheet padded" *ngIf="character$ | async as character;">

    <div class="title">
        <h1>
            <span [matTooltipPosition]="'above'" [matTooltip]="'Name'">{{ character.name }}</span>,
            <span [matTooltipPosition]="'above'" [matTooltip]="'Race'"> the {{ character.getRace()?.name ?? 'raceless' }}</span>
            <span [matTooltipPosition]="'above'" [matTooltip]="'Background'"> {{ character.getBackground()?.name ?? 'adventurer without a job' }}</span>
        </h1>

        <a class="save-button" [href]="downloadJsonHref" download="{{character.name}}"><i data-feather="save"></i></a>
        <span class="print-button" (click)="openPrintDialog()"><i data-feather="printer"></i></span>
    </div>


    <div class="main">
        <div class="left-column">
            <div class="attributes">
                <span class="border-overlapping-title">Stats</span>
                <span class="attribute-title" [matTooltip]="_STRENGTH_TEXT"><span class="attr-full-name">Strength</span> (ST)</span>
                <span class="attribute-value">{{ character.getFinalCharacter().stats.strength }}</span>
                <span class="attribute-title" [matTooltip]="_VITALITY_TEXT"><span class="attr-full-name">Vitality</span> (VI)</span>
                <span class="attribute-value">{{ character.getFinalCharacter().stats.vitality }}</span>
                <span class="attribute-title" [matTooltip]="_DEXTERITY_TEXT"><span class="attr-full-name">Dexterity</span> (DE)</span>
                <span class="attribute-value">{{ character.getFinalCharacter().stats.dexterity }}</span>
                <span class="attribute-title" [matTooltip]="_AGILITY_TEXT"><span class="attr-full-name">Agility</span> (AG)</span>
                <span class="attribute-value">{{ character.getFinalCharacter().stats.agility }}</span>
                <span class="attribute-title" [matTooltip]="_INTELLECT_TEXT"><span class="attr-full-name">Intellect</span> (IN)</span>
                <span class="attribute-value">{{ character.getFinalCharacter().stats.intellect }}</span>
                <span class="attribute-title" [matTooltip]="_PERCEPTION_TEXT"><span class="attr-full-name">Perception</span> (PE)</span>
                <span class="attribute-value">{{ character.getFinalCharacter().stats.perception }}</span>
                <span class="attribute-title" [matTooltip]="_EMPATHY_TEXT"><span class="attr-full-name">Empathy</span> (EM)</span>
                <span class="attribute-value">{{ character.getFinalCharacter().stats.empathy }}</span>
            </div>
            <div class="levels">
                <span class="border-overlapping-title">Levels</span>
                <div class="levels-block levels-combat">
                    <b class="level-title" [matTooltipPosition]="'above'" [matTooltip]="_COMBATLEVEL_TEXT">Combat</b>
                    <span class="level-level">Lv. {{ character.getCombatLevel() }}</span>
                    <span class="level-xp">{{ character.combatXP}} XP</span>
                </div>
                <div class="levels-block levels-adventuring">
                    <b class="level-title" [matTooltipPosition]="'above'" [matTooltip]="_ADVENTURING_TEXT">Adv.</b>
                    <span class="level-level">Lv. {{ character.getAdventuringLevel() }}</span>
                    <span class="level-xp">{{ character.adventuringXP}} XP</span>
                </div>
                <div class="levels-block levels-social">
                    <b class="level-title" [matTooltipPosition]="'above'" [matTooltip]="_SOCIALLEVEL_TEXT">Social</b>
                    <span class="level-level">Lv. {{ character.getSocialLevel() }}</span>
                    <span class="level-xp">{{ character.socialXP}} XP</span>
                </div>
            </div>
        </div>

        <div class="main-right">
            <div class="combatstats">
                <span class="border-overlapping-title">Combatstats</span>
                <div class="row">
                    <div class="combatstat-block">
                        <div class="combatstat-title" [matTooltip]="_HEALTH_TEXT">Health</div>
                        <div>{{ character.getFinalCombatStats().maxHealth }}</div>
                    </div>
                    <div class="combatstat-block">
                        <div class="combatstat-title" [matTooltip]="_STAMINA_TEXT">Stamina</div>
                        <div>{{ character.getFinalCombatStats().maxStamina }}</div>
                    </div>
                    <div class="combatstat-block">
                        <div class="combatstat-title" [matTooltip]="_MANA_TEXT">Mana</div>
                        <div>{{ character.getFinalCombatStats().maxMana }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="combatstat-block">
                        <div class="combatstat-title" [matTooltip]="_DODGE_TEXT">Dodge</div>
                        <div>({{ character.getFinalCombatStats().dodgeModifier.increaseFixed(8).min() }} - {{ character.getFinalCombatStats().dodgeModifier.increaseFixed(20).max() }})</div>
                        <div class="combatstat-bonus" [innerHTML]="character.getFinalCombatStats().dodgeModifier.toExactString() | safeHtml"></div>
                    </div>
                    <div class="combatstat-block">
                        <div class="combatstat-title" [matTooltip]="_NOTICE_TEXT">Notice</div>
                        <div>({{ character.getFinalCombatStats().noticeModifier.increaseFixed(8).min() }} - {{ character.getFinalCombatStats().noticeModifier.increaseFixed(20).max() }})</div>
                        <div class="combatstat-bonus" [innerHTML]="character.getFinalCombatStats().noticeModifier.toExactString() | safeHtml"></div>
                    </div>
                    <div class="combatstat-block">
                        <div class="combatstat-title" [matTooltip]="_WILLPOWER_TEXT">Willpower</div>
                        <div>({{ character.getFinalCombatStats().willpowerModifier.increaseFixed(8).min() }} - {{ character.getFinalCombatStats().willpowerModifier.increaseFixed(20).max() }})</div>
                        <div class="combatstat-bonus" [innerHTML]="character.getFinalCombatStats().willpowerModifier.toExactString() | safeHtml"></div>
                    </div>
                </div>
            </div>
            <div class="recovering-values">
                <span class="border-overlapping-title">Recovering</span>
                <div class="row">
                    <div class="combatstat-block">
                        <div class="combatstat-title" [matTooltip]="_HEALTH_RECOVER_TEXT">Health recovery</div>
                        <div>{{ character.getHealthRecovery() }} per hour</div>
                    </div>
                    <div class="combatstat-block">
                        <div class="combatstat-title" [matTooltip]="_STAMINA_RECOVER_TEXT">Stamina recovery</div>
                        <div>{{ character.getStaminaRecovery() }} per 2 seconds</div>
                        <div>{{ character.getStaminaRecovery() }} per AP spent resting</div>
                    </div>
                    <div class="combatstat-block">
                        <div class="combatstat-title" [matTooltip]="_MANA_RECOVER_TEXT">Mana recovery</div>
                        <div>{{ character.getManaRecovery() }} per hour if food consumed</div>
                    </div>
                </div>
            </div>
            <div class="race-benefits">
                <span class="border-overlapping-title">Race</span>
                <div class="race-row" *ngFor="let raceTrait of character.getRace()?.traitsAsStrings; index as i">
                    <span [innerHTML]="raceTrait | safeHtml"></span>
                </div>
            </div>
            <div class="zodiacsign-benefits" *ngIf="character.getZodiacSign()">
                <span class="border-overlapping-title">Zodiac Sign</span>
                <span [innerHTML]="character.getZodiacSign()?.description"></span>
            </div>
            <div class="background-benefits" *ngIf="character.getBackground()">
                <span class="border-overlapping-title">Background</span>
                <span [innerHTML]="character.getBackground()?.name"></span>
            </div>
            <div class="culture-benefits" *ngIf="character.getCulture()">
                <span class="border-overlapping-title">Culture</span>
                <span [innerHTML]="character.getCulture()?.name"></span>
            </div>
            <div class="perks">
                <span class="border-overlapping-title">Perks</span>
                <div *ngFor="let pal of character.perks">
                    <span class="overview-perk-line">{{ pal.perk.name }} ({{pal.level}})</span> - <span [innerHTML]="pal.perk.description  | safeHtml"></span>
                </div>
            </div>
            <div class="equipment" *ngIf="character.equipment">
                <span class="border-overlapping-title">Equipment</span>
            </div>

            <div class="languages" *ngIf="character.languagesInLearnOrder">
                <span class="border-overlapping-title">Languages</span>
                <div *ngFor="let lang of character.languagesInLearnOrder">
                    <span class="overview-language-line"><b>{{ lang.name }}</b> ({{ lang.family }} - {{ lang.alphabet }})</span>
                </div>
            </div>

        </div>
    </div>


</div>
