#charactersheet {
    padding: 40px;
}

.title {
    margin-bottom: 20px;
    h1 {
        display: inline;
        margin-right: 20px;
    }
}
.main {
    display: flex;
    align-items: flex-start;

    .attributes {
        border: 1px solid #b26d27;
        width: 200px;
        text-align: center;
        padding: 20px;

        span {
            display: block;
        }

        span.attribute-title {
            font-size: 1.2em;
        }

        span.attribute-value {
            font-size: 1.5em;
            margin: 12px 10px 30px;

        }
    }

    .main-right {
        flex: 4;
        padding: 0 20px;

        .combatstats {
            margin-top: 0;
            display: flex;
            flex-direction: column;
        }
    }

    .row {
        display: flex;
        flex-direction: row;
        padding-top: 10px;

        .combatstat-block {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        .combatstat-title {
            font-size: 22px;
            margin-bottom: 8px;
        }

    }

    .race-row {
        margin-top: 3px;
    }

    .overview-perk-line {
        font-weight: bold;
        margin-top: 3px;
        display: inline-block;
    }

    .race-benefits, .zodiacsign-benefits, .perks, .combatstats, .equipment, .languages, .recovering-values {
        margin-top: 20px;
        padding: 20px 20px 20px 50px;
        border: 1px solid #b26d27;
        position: relative;

    }

    .overview-language-line b {
        width: 130px;
        display: inline-block;
        margin-bottom: 2px;
    }

    .border-overlapping-title {
        position: absolute;
        top: -10px;
        left: 20px;
        background: #F4A460FF;
        padding: 0 5px;
    }
}

