<character-builder-navigation></character-builder-navigation>


<div id="charactersheet" *ngIf="character$ | async as character;">

    <div class="title">
        <h1>
            <span [matTooltip]="'Name'">{{ character.name }}</span>,
            <span [matTooltip]="'Race'"> the {{ character.race?.name ?? 'raceless' }}</span>
            <span [matTooltip]="'Background'"> {{ character.background?.name ?? 'adventurer without a job' }}</span>
        </h1>

        <a class="material-icons-outlined" [href]="downloadJsonHref" download="{{character.name}}">save</a>
    </div>


    <div class="main">
        <div class="attributes">
            <span class="attribute-title">Strength (ST)</span>
            <span class="attribute-value">{{ character.getFinalStats().strength }}</span>
            <span class="attribute-title">Vitality (VI)</span>
            <span class="attribute-value">{{ character.getFinalStats().vitality }}</span>
            <span class="attribute-title">Dexterity (DE)</span>
            <span class="attribute-value">{{ character.getFinalStats().dexterity }}</span>
            <span class="attribute-title">Agility (AG)</span>
            <span class="attribute-value">{{ character.getFinalStats().agility }}</span>
            <span class="attribute-title">Intellect (IN)</span>
            <span class="attribute-value">{{ character.getFinalStats().intellect }}</span>
            <span class="attribute-title">Perception (PE)</span>
            <span class="attribute-value">{{ character.getFinalStats().perception }}</span>
            <span class="attribute-title">Empathy (EM)</span>
            <span class="attribute-value">{{ character.getFinalStats().empathy }}</span>

        </div>
        <div class="main-right">
            <div class="combatstats">
                <span class="border-overlapping-title">Combatstats</span>
                <div class="row">
                    <div class="combatstat-block">
                        <div class="combatstat-title">Health</div>
                        <div>{{ character.getFinalCombatStats().maxHealth }}</div>
                    </div>
                    <div class="combatstat-block">
                        <div class="combatstat-title">Stamina</div>
                        <div>{{ character.getFinalCombatStats().maxStamina }}</div>
                    </div>
                    <div class="combatstat-block">
                        <div class="combatstat-title">Mana</div>
                        <div>{{ character.getFinalCombatStats().maxMana }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="combatstat-block">
                        <div class="combatstat-title">Dodge</div>
                        <div>{{ character.getFinalCombatStats().dodgeModifier.toExactString() }}</div>
                    </div>
                    <div class="combatstat-block">
                        <div class="combatstat-title">Notice</div>
                        <div>{{ character.getFinalCombatStats().noticeModifier.toExactString() }}</div>
                    </div>
                    <div class="combatstat-block">
                        <div class="combatstat-title">Willpower</div>
                        <div>{{ character.getFinalCombatStats().willpowerModifier.toExactString() }}</div>
                    </div>
                </div>
            </div>
            <div class="race-benefits">
                <span class="border-overlapping-title">Race</span>
                <div class="race-row" *ngFor="let raceTrait of character.race?.traitsAsStrings; index as i">
                    {{ raceTrait }}
                </div>
            </div>
            <div class="zodiacsign-benefits" *ngIf="character.zodiacSign?.description">
                <span class="border-overlapping-title">Zodiac Sign</span>
                    <span [innerHTML]="character.zodiacSign?.description"></span>
            </div>
            <div class="background-benefits" *ngIf="character.background">
                <span class="border-overlapping-title">Background</span>

            </div>
            <div class="perks">
                <span class="border-overlapping-title">Perks</span>
                <div *ngFor="let pal of character.perks">
                    <span class="overview-perk-line">{{ pal.perk.name }} ({{pal.level}})</span> - {{ pal.perk.description }}
                </div>
            </div>
            <div class="equipment" *ngIf="character.equipment">
                <span class="border-overlapping-title">Equipment</span>
            </div>

            <div class="languages" *ngIf="character.languages">
                <span class="border-overlapping-title">Languages</span>
            </div>

        </div>
    </div>


</div>
