
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rlp-playtest-primary: mat.define-palette(mat.$indigo-palette);
$rlp-playtest-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$rlp-playtest-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rlp-playtest-theme: mat.define-light-theme((
  color: (
    primary: $rlp-playtest-primary,
    accent: $rlp-playtest-accent,
    warn: $rlp-playtest-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($rlp-playtest-theme);

/* You can add global styles to this file, and also import other style files */

@import "~tippy.js/dist/tippy.css";

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
}

#main {
     background: url('assets/seamless_paper_texture.webp') repeat;
 }

a {
    text-decoration: none;
    color: black;
}

mat-panel-title {
    margin-left: 20px;
}

.mat-tooltip {
    font-size: 16px;
    line-height: 18px;
    max-width: 500px !important;
}

b {
    letter-spacing: 0.2px;
}

.padded {
    padding: 40px 60px;
    width: 1000px;
    margin: auto;
    background-color: #fbfbfb;
    border: 1px solid #b9b9b9;
}

.exact-string-stat {
    width: 70px;
    display: inline-block;
}

input[type=text], input[type=number] {
    padding: 5px;
    border: 1px solid #d2d2d2;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);margin-top: 4px;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.inputerror {
    border: 4px solid #c63c3c !important;
}

input:focus {
    outline:0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.material-icons-outlined {
    user-select: none;
}

@mixin darkmode {
    // $dark-background: rgb(61, 60, 72);
    // $dark-background-fore: rgb(77, 75, 89);

    $dark-background: rgb(61, 60, 72);
    $dark-background-fore: rgb(77, 75, 89);

    img {
        filter: brightness(.8) contrast(1.2);
    }

    .border-overlapping-title {
        background-color: $dark-background !important;
    }

    .padded {
        background-color: $dark-background;
        border: 1px solid $dark-background;

        *, a {
            color: #cecece;
        }
    }

    #main {
        background: url('assets/seamless_paper_texture_dark.webp') repeat, #696760;
    }

    .mat-expansion-panel {
        background-color: $dark-background-fore;
    }

    .boxed-stat {
        background-color: $dark-background-fore !important;
    }

    input {
        background: rgb(43, 42, 51);
        border: 1px solid #696969;
    }
}

body.dark {
    @include darkmode;
}

@media (prefers-color-scheme: dark) {
    @include darkmode
}


@import "print";
