#quick-overview-bar {
    display: flex;
    height: 60px;
    align-items: center;
    padding-left: 50px;
    background: #3f3d3d;
    color: #EFEFEF;

    div {
        width: 130px;
        text-align: center;
    }
}
